* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(17, 67, 125);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(9, 40, 45) ;
    padding: 15px 40px;
    border: 0px;
    height: 07vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


header span {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

header a {
    color: #ffffff;
    font-size: 16px;
    margin: 0 15px;
    text-decoration: None;
}

header a:hover {
    text-decoration: none;
}

header button {
    background: rgb(255, 255, 255);
    border: none;
    padding: 6px 15px;
    border-radius: 3px;
    cursor: pointer;
}

header button a{
    color: rgb(106, 202, 106);
    font-weight: bold;
    text-decoration: none;
}

header button:hover {
    background: rgb(241, 241, 241);
    
}

td {
    vertical-align: middle;
}
main{
    height: 76vh;
    

}

/*Home and skills*/
.center {
    text-align: center;
}
/*Contact button*/
.right {
    text-align: right;
}
.contact-btn {
    background: rgb(255, 255, 255);
    color: rgb(3, 18, 3);
    padding: 6px 15px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.contact-btn:hover{
    background: rgb(241, 241, 241);
    text-decoration: none;
}

/*Changing the main part*/
.hero {
   
    border-collapse: collapse;
    /* margin: 50px auto;    */
   
    

}

.intro-table {
    padding-top: 50px;
}

.intro-text{
    vertical-align: middle;
    text-align: left;
    padding-left: 80px;
}
/* <h1 class="intro-hello">Hello,</h1>
                    <h2 class="intro-subtitle">My name is</h2>
                    <h2 class="intro-name">Md. Tahsin Azad Shaikat</h2>
                    <p class="intro-location">I am based in Cumilla, Bangladesh</p> */

.intro-text h1,h2{
    font-size: 60px;
}



.intro-hello{
    color:rgb(192, 198, 192);
    font-size: 40px;
    margin:0px;
}

.intro-subtitle, .intro-name {
    color:rgb(192, 198, 192);
    font-size: 36px;
    margin:0;
    font-weight: bold;
}
.intro-location {
    color: rgb(132, 162, 132);
    font-size: 30px;
    margin-top: 10px;

}

.intro-image{
    text-align: center;
    vertical-align: middle;
}


/*Footer*/

footer {
    background-color: rgb(9, 40, 45) ;
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 07vh;
    
}

footer td {
    vertical-align: middle;
}
/*Created by part*/

.left {
    text-align: left;
}
/*Copyright by part*/

.right {
    text-align: right;
}

/*Skill page*/

.skill-h1{
    color:#ffffff;
    padding: 20px;
    font-size: 2rem;
}

.skill-h2{
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
    margin-bottom: 30px;
}

.skills-table{
    color: rgb(255, 255, 255);
    margin: 30px auto;
    border-collapse: separate;
    border-spacing: 15px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    
}


.skills-table td {
    background-color: rgb(79, 32, 197);
    color: rgb(132, 162, 132);
    border: 1px solid rgba(106, 202, 188, 0.303);
    border-radius: 10px;
    font-weight: bold;
    padding: 15px;
    cursor:pointer;
    
    justify-content: space-between;
    text-align: center;
    display: flexbox;
    transition: all 0.3s ease;

}

/*For contact pages*/
.contact-main {
    padding-left: 30px;
    padding-top: 30px;
}
.contact-main h1{
    padding-bottom: 10px;
}

#shaikat{
    border-radius: 50%;
    border: 5px orange solid;
}